{{!
Це код container файлу для index сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
}}

<div class="info">
  <div class="info__text">
    <h1 class="info__title">{{info}}</h1>
    <div class="info__description">{{description}}</div>
  </div>
  <a class="info__button" href="/product-list">Повернутися назад</a>
</div>

{{!
Цей код містить лише те, що буде виводитись в

<body>
  Адже наш layout/default.hbs має вже структуру HTML
  }}