{{!
Це код container файлу для index сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
}}

<div class="content_list">
  <a class="button" href="../user-index">User</a>
  <a class="button" href="../product-create">Product</a>
  <a class="button" href="../purchase-index">Purchase</a>
</div>

{{!
Цей код містить лише те, що буде виводитись в

<body>
  Адже наш layout/default.hbs має вже структуру HTML
  }}