@use '../../lib/service.scss' as s;

@use '../../component/created-product-card/style.scss' as createdProductCard;
@use '../../component/heading/style.scss' as heading;

.list{
    display: flex;
    flex-direction: column;
    padding: s.space(4);
    gap: s.space(10);
    

    &__empty {
        font-size: 18px;
        color: s.color('text');
    }

    &__button {
        
        text-decoration: none;
        text-align: center;
        font-size: 20px;
        color: s.color('light');
        padding: s.space(4);
        background-color: s.color('primary');
        border-radius: 8px;
    }


}


.product {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  
    gap: s.space(6);
}