@use '../../lib/service.scss' as s;

@use '../../lib/spotify.scss' as spotify;

.header {
    display: grid;
    grid-template-columns: 1fr 56px 56px;
    align-items: center;
    gap: s.space(6);
    color: s.color(light);
    font-size: 18px;
}

.playlist__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.playlist__item {
    display: grid;
    grid-template-rows: repeat(3 1fr);
    padding: s.space(6);
    gap: s.space(4);
}

.playlist__name {
    font-size: 24px;
}


